apiVersion: v1
kind: Pod
metadata:
  name: k8s-gather-pod
spec:
  serviceAccountName: k8s-gather-sa
  containers:
  - name: gather
    image: quay.io/wenzhou/k8s-gather:dev
    env:
    - name: ENABLE_SERVING
      value: "true"
    - name: ENABLE_KUEUE
      value: "false"
    - name: ENABLE_KUBERAY
      value: "false"
    # - name: OPERATOR_NAMESPACE
    #   value: "openshift-operators"
    # - name: APPLICATIONS_NAMESPACE
    #   value: "opendatahub"
    # - name: ISTIO_NAMESPACE
    #   value: "istio-system"
    # - name: ROUTE_NAMESPACE
    #   value: "openshift-ingress"
    # - name: KUADRANT_NAMESPACE
    #   value: "kuadrant-system"
    # - name: MUST_GATHER_SINCE
    #   value: "1h"
    command: ["/bin/bash", "-c", "cd /tmp && /usr/bin/k8s-gather/gather && sleep 600"]
  restartPolicy: Never
